extends layout 

block content 
  p Description: #{item.description}
  p Category: #{item.category.name}
  p Price: $#{item.roundedPrice}
  p Expiration Date: #{item.formattedExpDate}

  p
    a(href=item.url + '/delete')  Delete Item

  p 
    a(href=item.url + '/update') Update Item 